@use "../utils/variables" as *;

body {
    overflow: none;
}

/*scrollpill*/
html {
    scroll-behavior: smooth;
}

$fontawesome-icon-names: (
    "bars": "\f0c9",
    "arrow-up": "\f062",
);

@keyframes scrollpill-unshrink {
    0% {
        width: 20px;
        height: 20px;
        right: 0px;
    }

    100% {
        width: 50px;
        height: 50px;
        right: 0px;
    }
}
@keyframes scrollpill-shrink {
    0% {
        width: 50px;
        height: 50px;
        right: 0px;
    }

    100% {
        width: 20px;
        height: 20px;
        right: 0px;
    }
}

@mixin make_scrollpill_big() {
    animation: scrollpill-unshrink 0.2s ease-in-out forwards !important;
    animation-iteration-count: 1 !important;
    right: 0px;
    font-size: 30px;
    color: $textColor !important;
    box-shadow: #0066ff 0px 0px 10px;
}

@mixin make_scrollpill_small() {
    animation: scrollpill-shrink 0.2s ease-in-out forwards;
    font-size: 10pt;
    animation-iteration-count: 1 !important;
}

.scrollpill {
    z-index: 100;
    width: 2.5rem;
    height: 2.5rem;
    animation-iteration-count: 0; 
    text-align: center;
    margin: 1rem;
    position: fixed;
    border-radius: 5px;
    right: 0;
    top: 0;
    background-color: #0066ff;
    pointer-events: bounding-box;
    vertical-align: middle;
    transition: font-size 0.2s linear !important;

    &::before {
        font-family: 'Font Awesome 6 Free';
        display: inline-block;
        font-weight: 900;
        content: "\f0c9";
    }

    &.scrollpill-at-bottom::before{
        content: "\f062";
    }

    &:not(.scrollpill-at-top):not(.scrollpill-at-bottom):not(.scrollpill-at-top):active {
        @include make_scrollpill_big;
    }
    
    &.scrollpill-at-top-first {
        &::before{
            content: "\f0c9";
        }
        width: 50px !important;
        height: 50px !important;
        right: 0px !important;
    }

    &.scrollpill-open {
        .scrollpill-navbar {
            display: block !important;
        }
    }
    
    &:not(.scrollpill-open) {
        .scrollpill-navbar {
            display: none;
        }
    }

    &.scrollpill-at-top-first, &.scrollpill-at-top {
        @include make_scrollpill_big();
    }

    &.scrollpill-at-middle {
        @include make_scrollpill_small();
    }

    &:not(.scrollpill-at-bottom):not(.scrollpill-at-top):not(.scrollpill-at-top-first).scrollpill-open {
        @include make_scrollpill_big();
    }

    &.scrollpill-at-bottom {
        @include make_scrollpill_big();
    }
}

::-webkit-scrollbar {
    display: none;
}

.scrollpill-navbar {
    font-size: 30px;
    /*border: 0.15rem solid white;*/
    position: absolute;
    white-space: nowrap;
    z-index: 100;
    top: 0em;
    right: 2em;
    width: auto;
    text-align: right;
    padding: 1rem;
    margin-top: 0;
    color: $textColor;
    background-color: $backgroundColor;
    user-select: none;
    transform: translateY(-13px);

    border-radius: 5px;
    box-shadow: $backgroundColor 0px 0px 10px;

    a {
        white-space: nowrap;
        display: inline;
        margin: 0;
        padding: 1rem;
        text-decoration: none;

        &:hover {
            /* color: #0066ff; */
            animation: grow-underline-navbar-text 0.2s ease-in-out forwards !important;
            animation-iteration-count: 1 !important;
        }

        &.scrollpill-navbar-active-section {
            /* color: #0066ff; */
            animation: grow-shade-navbar-text 0.2s ease-in-out forwards !important;
            animation-iteration-count: 1 !important;
        }

        &:not(:hover):not(.scrollpill-navbar-active-section) {
            /* color: white; */
            animation: shrink-navbar-text 0.2s ease-in-out forwards !important;
            animation-iteration-count: 1 !important;
        }

        @media (max-width: $screen-desktop-small) {
            display: block;
            padding-top: 0;
            padding-bottom: 0;
        }

        span {
            font-weight: 600;
            color: $textColor;
        }
    }
}

@media screen and (max-width: 730px) {
    .scrollpill-navbar {
        white-space: normal;

        a {
            // padding-top: 2.5rem;
            // padding-bottom: 2.5rem;
            padding: 0.75rem;
            border-radius: 0.2rem;
            margin: 0;
            z-index: inherit;
            background-color: rgba(0, 0, 0, 0) !important;
        }
    }
}

@keyframes grow-underline-navbar-text {
    0% {
        font-weight: 300;
        background-color: rgba(0, 0, 0, 0);
        background-image: linear-gradient(120deg, #0066ff 0%, #0099ff 100%);
        background-repeat: no-repeat;
        background-size: 100% 0;
        background-position: bottom;
    }

    100% {
        font-weight: 600;
        background-color: rgba(0, 0, 0, 0);
        background-image: linear-gradient(120deg, #0066ff 0%, #0099ff 100%);
        background-repeat: no-repeat;
        background-size: 100% 0.2em;
        background-position: bottom;
    }
}

@keyframes grow-shade-navbar-text {
    0% {
        font-weight: 300;
        background-color: rgba(0, 0, 0, 0);
        background-image: linear-gradient(120deg, #0066ff 0%, #0099ff 100%);
        background-repeat: no-repeat;
        background-size: 100% 0;
        background-position: bottom;
    }

    100% {
        font-weight: 600;
        background-color: rgba(0, 0, 0, 0);
        background-image: linear-gradient(120deg, #0066ff 0%, #0099ff 100%);
        background-repeat: no-repeat;
        background-size: 100% 100%;
        background-position: bottom;
        border-radius: 0.25rem;
    }
}

@keyframes shrink-navbar-text {
    0% {
        font-weight: 600;
    }

    100% {
        font-weight: 300;
    }
}