/*fonts + effects*/
/*use a font*/
* {-webkit-font-smoothing: antialiased;}
@font-face {
    font-family: 'Roboto Mono';
    font-weight: 1 999;
    src: url(google-fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf) format('truetype');
}
.font-monospace {
    font-family: 'Roboto Mono', monospace;
}
.title-drop-shadow {
    text-shadow: 1px 2px 0.5rem #0066ff;
}


/*scrollpill*/
html {
    scroll-behavior: smooth;
}
.scrollpill{
    z-index: 100;
    width: 2.5rem;
    height: 2.5rem;
    animation-iteration-count: 0;
    text-align: center;
    margin: 1rem;
    position: fixed;
    border-radius: 50%;
    right: 0;
    top: 0;
    background-color: #0066ff;
}
.scrollpill span{
    align-text: center;
}
@keyframes scrollpill-shrink {
    0%   {
        width: 50px;
        height: 50px;
        right: 0px;
    }
    100% {
        width: 10px;
        height: 10px;
        right: 10px;
    }
}
@keyframes scrollpill-unshrink {
    0%   {
        width: 10px;
        height: 10px;
        right: 10px;
    }
    100% {
        width: 50px;
        height: 50px;
        right: 0px;
    }
}
.scrollpill.scrollpill-at-top{
    /*animate making smaller*/
    animation: scrollpill-unshrink 0.2s ease-in-out forwards !important;
    animation-iteration-count: 1 !important;
    font-size: 30px;
    color: white;
}
.scrollpill.scrollpill-at-top-first{
    right: 0px !important;
    width: 50px !important;
    height: 50px !important;
    font-size: 30px !important;
    color: white !important;
}
.scrollpill.scrollpill-at-middle{
    animation: scrollpill-shrink 0.2s ease-in-out forwards !important;
    animation-iteration-count: 1 !important;
}
.scrollpill.scrollpill-open{
    animation: scrollpill-unshrink 0.2s ease-in-out forwards !important;
    animation-iteration-count: 1 !important;
    right: 0px;
    font-size: 30px !important;
    color: white !important;
    box-shadow: #0066ff 0px 0px 10px;
}
.scrollpill.scrollpill-at-bottom{
    animation: scrollpill-unshrink 0.2s ease-in-out forwards !important;
    animation-iteration-count: 1 !important;
    font-size: 30px !important;
    color: white !important;
}
.scrollpill:hover{
    animation: scrollpill-unshrink 0.2s ease-in-out forwards !important;
    animation-iteration-count: 1 !important;
    right: 0px;
    font-size: 30px !important;
    color: white !important;
    box-shadow: #0066ff 0px 0px 10px;
}
.scrollpill.scrollpill-at-top:hover{
    right: 0px !important;
}
::-webkit-scrollbar {
    display:none;
}
.scrollpill-navbar{
    font-size: 30px !important;
    /*border: 0.15rem solid white;*/
    position: absolute;
    z-index: 100;
    top: 0em;
    right: 2em;
    width: auto;
    text-align: right;
    padding: 1rem;
    margin-top: 0;
    color: white;
    white-space: nowrap;
    background-color: black;
    transform: translateY(-1rem);
}
.scrollpill-navbar a{
    display: inline;
    margin: 0;
    padding: 1rem;
    text-decoration: none;
    background-color: black;
    border-left: 0px solid black;
    border-right: 0px solid black;
}
@keyframes grow-navbar-text{
    0%   {
        font-weight: 300;
    }
    100% {
        font-weight: 600;
    }
}
@keyframes shrink-navbar-text{
    0%   {
        font-weight: 600;
    }
    100% {
        font-weight: 300;
    }
}
.scrollpill-navbar a:hover{
    /* color: #0066ff; */
    animation: grow-navbar-text 0.2s ease-in-out forwards !important;
    animation-iteration-count: 1 !important;
}
.scrollpill-navbar a:not(:hover){
    /* color: white; */
    animation: shrink-navbar-text 0.2s ease-in-out forwards !important;
    animation-iteration-count: 1 !important;
}

/*particle system*/
.particle-system{
    z-index: -2;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 0;
}
.particle-system-particle{
    position: absolute;
    border-radius: 50%;
    background-color: yellow;
    opacity: 0.1;
    width: 15px;
    height: 15px;
}
@keyframes fade-out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.particle-system-text{
    position: absolute;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    text-shadow: 1px 2px 0.5rem #0066ff;
    opacity: 0.2;
    animation: fade-out 1s ease-in-out infinite;
}

/*title animation*/
.not-visible{
    display: none !important;
}
@keyframes bring-into-view-keyframes {
    0% {
        opacity: 0;
    }
    100% {}
}
.bring-into-view{
    animation: bring-into-view-keyframes 1s ease-in-out forwards !important;
}