@use "../utils/variables" as *;
@use "../utils/fonts" as *;
@use "sass:color";

body {
    background-color: $backgroundColor;
    color: $textColor;
    font-family: $defaultFont;
}

@keyframes emphasize-box-shadow {
    0% {
        box-shadow: 0px 0px 15px #0066ff96;
    }

    100% {
        box-shadow: 0px 0px 20px #0066ffff;
    }
}

@mixin box_shadow_change_hover {
    box-shadow: 0px 0px 15px #0066ff96;

    &:hover {
        animation: emphasize-box-shadow 0.1s ease-in-out forwards;
    }
}

.shadow_change_hover {
    @include box_shadow_change_hover;
}

a.link-style {
    background-color: color.adjust($color: $textColor, $alpha: -1);
    background: linear-gradient(90deg, color.adjust(#0066ff, $alpha: +1), color.adjust(#0099ff, $alpha: +1));
    background-position: bottom;
    background-size: 100% 0.21em;
    background-repeat: no-repeat;
    &:hover {
        // &::before{
        //     content: '\1f517';
        //     vertical-align: middle;
        //     font-size: 0.75em;
        // }
        background: linear-gradient(90deg, color.adjust(#0066ff, $alpha: -0.7), color.adjust(#0099ff, $alpha: -0.7));
        background-size: 100% 100%;
        border-radius: 3px 3px;
        border: 0.5px solid color.adjust(#0066ff, $saturation: +5%, $lightness: +5%);
        transform: translateX(-2px);
    }
}

.section-title {
    @media (min-width: $screen-desktop-small) {
        font-size: 3.5rem;
    }

    @media (max-width: $screen-desktop-small) {
        font-size: 2.5rem;
    }

    @media (max-width: $screen-mobile-large) {
        font-size: 2rem;
    }

    @media (max-width: $screen-mobile) {
        font-size: 1.5rem;
    }

    font-size: 1rem;
}

.gradient-text {
    background: linear-gradient(90deg, #0066ff, #00ffcc);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}