$backgroundColor: #080808;
$textColor: #eee;
$primaryColor: #0080ff;
$secondaryColor: yellow;
$screen-mobile-small: 260px;
$screen-mobile: 320px;
$screen-mobile-large: 400px;
$screen-desktop-sm: 768px;
$screen-desktop: 1024px;
$screen-desktop-lg: 1280px;
$screen-desktop-xl: 1536px;