$backgroundColor: #080808;
$textColor: #eee;
$primaryColor: #0080ff;
$secondaryColor: yellow;
$screen-mobile-sm: 260px;
$screen-mobile-small: $screen-mobile-sm;
$screen-mobile: 320px;
$screen-mobile-large: 400px;
$screen-desktop-sm: 768px;
$screen-desktop-small: $screen-desktop-sm;
$screen-desktop: 1024px;
$screen-desktop-lg: 1280px;
$screen-desktop-large: $screen-desktop-lg;
$screen-desktop-xl: 1536px;
$screen-desktop-xlarge: $screen-desktop-xl;
$defaultFont: 'Roboto Mono', monospace;